<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OMR.Properties.Settings.sampleConnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\techBOY\Documents\Visual Studio 2010\Projects\OMR2015\OMR Test 1\bin\Debug\omrSheet1.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="OMR.Properties.Settings.omrSheet1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\omrSheet1.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="OMR.Properties.Settings.omrSheetEmptyConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\omrSheetEmpty.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>